/* Style for Accesibility Tool by Lidia Alaejos Herrero
scriptAccesibilidad.js */


.btn-accesibilidad {
    position: fixed;
    bottom: 30px;
    left: 20px;
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 30px;
    cursor: pointer;
    z-index: 1000;
    background-image: url('icon-accessibility.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border: 2px solid dimgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.tooltip-text {
    visibility: hidden;
    width: auto;
    /* Ancho automático según el contenido */
    background-color: white;
    /* Fondo del tooltip */
    color: black;
    /* Color de texto del tooltip */
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1001;
    /* Encima del botón */
    bottom: 110%;
    /* Posición debajo del botón */
    left: 100%;
    transform: translateX(-50%);
    /* Centrado horizontal */
    white-space: nowrap;
    /* Evita que el texto se pase a la siguiente línea */
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
    opacity: 0;
}

.btn-accesibilidad:hover .tooltip-text {
    visibility: visible;
    /* Muestra el tooltip */
    opacity: 1;
    /* Hace el tooltip totalmente opaco */
}


#menu-accesibilidad {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menu-accesibilidad.open {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

#menu-accesibilidad h2.titulo-menu {
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    background-color: transparent;
    top: 20px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;

    border: none;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}



#menu-accesibilidad div {
    margin-bottom: 15px;
    /* Espacio entre los elementos div */
    padding-left: 20px;
    /* Espacio de relleno izquierdo */
}

.titulo-menu {
    margin-bottom: -15px;
    /* Ajusta el margen inferior del título "Accesibilidad" */
}

#high-contrast {
    margin-top: 5px;
}

#color-picker-texto {
    width: 80px;
    /* Ancho del color picker */
    height: 40px;
    /* Altura del color picker */
    border: none;
    /* Elimina el borde */
    padding: 0;
    /* Elimina cualquier relleno interno */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el color picker */
}

#color-picker-fondo {
    width: 80px;
    /* Ancho del color picker */
    height: 40px;
    /* Altura del color picker */
    border: none;
    /* Elimina el borde */
    padding: 0;
    /* Elimina cualquier relleno interno */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el color picker */
}

.btn-modificar {
    padding: 10px;
    background-color: #f8f9fa;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

/* Opcional: Estilos para el hover del botón */
.btn-modificar:hover {
    background-color: #e2e6ea;
}


:root {
    --thumb-color: transparent;
}

.custom-slider-satu {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 15px;
    background: linear-gradient(to right, grey, var(--color-seleccionado));
    border-radius: 5px;
    outline: none;
    opacity: 1;
    transition: opacity .2s;
}

/* Cambia el color del control deslizante según su valor */
.custom-slider-satu::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: var(--thumb-color);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color .2s;
}

/* Estilos para los controles deslizantes personalizados */
.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 15px;
    background: linear-gradient(to right, black, white);
    border-radius: 5px;
    outline: none;
    opacity: 1;
    transition: opacity .2s;
}


/* Cambia el color del control deslizante según su valor */
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: var(--thumb-color);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color .2s;
}

.txt-slider {
    width: 80%;
}

.menu-label {
    font-size: 18px;
}

.no-underline {
    color: blue;
    /* Cambia el color del texto a azul */
    text-decoration: none;
    /* Elimina el subrayado */
    font-weight: bold;
}

details>summary {
    display: flex;
    justify-content: space-between;
    /* Espacio entre el texto y la flecha */
    align-items: center;
    /* Alinea verticalmente */
    cursor: pointer;
    list-style: none;
}

details>summary::after {
    content: '▼';
    font-size: 1em;
    line-height: 1;
    transition: transform 0.3s ease-in-out;
    /* Animación de giro */
}

details[open]>summary::after {
    transform: rotate(-180deg);
    /* Gira la flecha cuando está abierto */
}

/* Cursor por defecto personalizado */
.custom-default-cursor {
    cursor: url('cursor.svg'), auto;
}

/* Cursor interactivo para elementos sobre los que se puede hacer clic */
.custom-interactive-cursor {
    cursor: url('pointer.svg'), pointer;
}

.btn-cursor {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.no-underline-cursor {
    color: blue;
    /* Cambia el color del texto a azul */
    text-decoration: none;
    /* Elimina el subrayado */
    font-weight: bold;
    margin: 3px;
}

.btn-teclado {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.simple-keyboard {
    position: absolute;
    cursor:move;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 1000px;
    max-height: 300px;
    z-index: 4000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}

.btn-img {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#img-ll {
   margin-left: 150px;
   border-radius: 5px;
   width: 50px;
   height: 50px;
}