/* Style for Accesibility Tool by Lidia Alaejos Herrero
scriptAccesibilidad.js */


.btn-accesibilidad {
    position: fixed;
    bottom: 30px;
    left: 20px;
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 30px;
    cursor: pointer;
    z-index: 1000;
    background-image: url('icon-accessibility.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border: 2px solid dimgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.btn-accesibilidad:hover {
    background-color: #e2e6ea !important;

}

.tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1001;
    bottom: 110%;
    left: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
    opacity: 0;
}

.btn-accesibilidad:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


#menu-accesibilidad {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, #292458 35%, #00627C);
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    box-sizing: border-box;
    padding: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menu-accesibilidad.open {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

#menu-accesibilidad h2.titulo-menu {
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.close-button {
    position: absolute;
    margin-top: 5px;
    background-color: transparent;
    top: 20px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

.close-button:hover {
    color: red !important;
}


#menu-accesibilidad div {
    margin-bottom: 25px;
    padding-left: 20px;
}

.titulo-menu {
    padding-bottom: 20px;
}



#high-contrast {
    margin-top: 5px;
}

#color-picker-texto {
    width: 80px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
}

#color-picker-fondo {
    width: 80px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn-modificar {
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.btn-modificar:hover {
    background-color: #e2e6ea !important;
}


:root {
    --thumb-color: transparent;
}

.custom-slider-satu {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    background: linear-gradient(to right, grey, var(--color-seleccionado));
    border-radius: 5px;
    outline: none;
    opacity: 1;
    transition: opacity .2s;
}

/* Cambia el color del control deslizante según su valor */
.custom-slider-satu::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    background-color: var(--thumb-color);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color .2s;
}

/* Estilos para los controles deslizantes personalizados */
.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    background: linear-gradient(to right, black, white);
    border-radius: 5px;
    outline: none;
    opacity: 1;
    transition: opacity .2s;
}


/* Cambia el color del control deslizante según su valor */
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    background-color: var(--thumb-color);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color .2s;
}

.txt-slider {
    width: 80%;
}

.menu-label {
    font-size: 18px;
}

.no-underline {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}



details>summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    list-style: none;
    padding-bottom: 20px;
}

details>summary:hover {
    color: LightSkyBlue !important;
}

details>summary::after {
    content: '▼';
    font-size: 1em;
    line-height: 1;
    transition: transform 0.3s ease-in-out;
}

details[open]>summary::after {
    transform: rotate(-180deg);
}

.custom-default-cursor {
    cursor: url('cursor.svg'), auto;
}

.custom-interactive-cursor {
    cursor: url('pointer.svg'), pointer;
}

.btn-cursor {
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
}

.btn-cursor:hover {
    background-color: #e2e6ea !important;
}

.no-underline-cursor {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    margin: 3px;
}

.btn-teclado {
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.btn-teclado:hover {
    background-color: #e2e6ea !important;
}


.simple-keyboard.my-theme {
    position: absolute;
    cursor: move;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 1300px;
    max-height: 500px;
    z-index: 4000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    background: lightblue;
}

.btn-img {
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color:white;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-img:hover {
    background-color: #e2e6ea !important;
}

#img-ll {
    margin-left: 150px;
    border-radius: 5px;
    border: 2px solid white;
    width: 50px;
    height: 50px;
}

#img-language {
    margin-left: 15px;
    margin-top: 10px;
    width: 30px;
    height: 20px;
}

#guiaLecturaNegra {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: black;
    pointer-events: none;
    display: none;
}

#guiaLecturaBlanca {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: white;
    pointer-events: none;
    display: none;
}


.select-voice {
    width: 340px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: WhiteSmoke;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.select-voice:hover {
    background-color: #e2e6ea !important;
}

.btn-otros {
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-otros:hover {
    background-color: #e2e6ea !important;
}

.btn-otros-black {
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-otros-black:hover {
    background-color: #e2e6ea !important;
}



.language-selector-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    background: white;
    border-radius: 5px;
}

.language-selector-container:hover {

    background: whitesmoke !important;

}


.world-icon {
    width: 24px;
    /* o el tamaño que prefieras */
    height: 24px;
    /* o el tamaño que prefieras */
    margin-right: 0.5em;
    /* Añade un espacio entre el icono y la etiqueta */
}

.language-selector-label {
    margin-right: 10px;
}


.language-selector {
    width: 80%;
    padding: .5em;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    appearance: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.language-selector:hover {
    background: whitesmoke !important;
}



/* Estilo general para todos los controles deslizantes */
input[type="range"] {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

/* Estilo del thumb (el control que se desliza) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #908FA0;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #908FA0;
    cursor: pointer;
}

/* Estilo del track para Firefox */
input[type="range"]::-moz-range-track {
    background: #908FA0;
    border-radius: 50%;
    height: 8px;
}

.btn-save {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
    font-weight: bold;
}

.btn-save:hover {
    background: whitesmoke !important;
}